<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="grouping">
        <groups>
            <run>
                <include name="x"/>
                <exclude name="y"/>
            </run>
        </groups>
        <classes>
            <class name="GroupingTest"/>
        </classes>
    </test>
</suite>